{% extends 'shop/basic.html' %}
{% block title %} Track Your Order {% endblock %}
{% block body %}
<div class="container">
    <div class="col">
        <h2 class="mt-3 my-3">Enter your Email Address and Product ID to Track Your Order</h2>
        <form class="row g-3" method="post" action="#" id="trackerForm"> {% csrf_token %}
            <div class="col-md-6">
                <label for="OrderId" class="form-label">Order ID</label>
                <input required type="text" name="OrderId" placeholder="Enter your Order ID" class="form-control"
                       id="OrderId">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input required type="email" name="email" placeholder="Enter your email" class="form-control"
                       id="inputEmail4">
            </div>
            <div class="col-12 my-3">
                <button type="submit" id="orderbtn" class="btn btn-primary">Track Order</button>
            </div>
        </form>
    </div>
    <div class="col">
        <h2 class="mt-3">Your Order Status</h2>
        <ul class="list-group" id="items">
            <!-- order statuses will be pushed in here -->
            <li style="list-style: none;">Enter the Order ID and your email to track your order</li>
        </ul>
        <h2 class="my-3">Your Order Details</h2>
        <ul class="list-group my-3" id="citems">
            <!-- orders will be pushed in here -->
        </ul>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$('#trackerForm').submit(function(event) {

    $('#items').empty();
    $('#citems').empty();
    var formdata = {

        'OrderId': $('input[name=OrderId]').val(),
        'email': $('input[name=email]').val(),

        // send csrfmiddlewaretoken also to check from where the form is being submitted
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    }
    // processing the form

    $.ajax({

            type: 'POST',
            url: '/shop/tracker/',
            data: formdata,
            encode: true

        })

        // when processing of the form is done
        .done(function(data) {

            // parsing the json object since by default it is a string.
            if(data!=undefined)
            {
                data=JSON.parse(data);
                updates = data[0];
            }

            if(updates!=undefined)
            {
                //updates are returned here, as an array of updates
                for (i = 0; i < updates.length; i++)
                {
                    let text = updates[i]['text'];
                    let time = updates[i]['time'];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                        ${text}
                        <span class="badge badge-primary badge-pill">${time}</span>
                        </li>`
                    $('#items').append(mystr);
                }
            }
            else
            {
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                      Sorry, We are not able to fetch this Order ID and email in our database. Please check the details entered.
                      </li>`
                $('#items').append(mystr);
            }
            if(updates!=undefined)
            {
                //Fill in the order details
                cart = JSON.parse(data[1]);
                for (item in cart) {
                    let name = cart[item][1];
                    let qty = cart[item][0];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                        ${name}
                        <span class="badge badge-primary badge-pill">${qty}</span>
                        </li>`
                    $('#citems').append(mystr);
            }
            }

        });


    // prevent default realoding behavior of tab, since we do not want page to reload
    event.preventDefault();

    // do not forget to replace the slim, compressed jquery with uncompressed jquery otherwise the page will reload

})

</script>
{% endblock %}